<h1>What Allergies Do You Have?</h1>
<form action='/results'>
  <div class='form-group'>
    <label>Input your score:</label>
    <input type="text" name="score" id="score" class="form-control">
  </div>
  <button type="submit" id="choice_submit" class='btn'>What allergies?</button>
  </form>
